<hr>
<div class="container footer__container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="footer-nav footer-nav-links footer__item">
                <strong>Conteúdo</strong>
                <ul>
                    <li><a href="#">Página Inicial</a></li>
                    <li><a href="#">Suporte</a></li>
                    <li><a href="#">PlayStation Studios</a></li>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Sobre a SIE</a></li>
                    <li><a href="#" rel="noopener">Termos de serviço da PSN</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="footer-nav footer-nav-links footer__item">
                <strong>Suporte</strong>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Suporte por Chat</a></li>
                    <li><a href="#">Programa de Assinantes</a></li>
                    <li><a href="#">Contate-nos</a></li>
                    <li><a href="#" rel="noopener">Trabalhe na Sony</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="footer-nav footer-nav-links footer__item">
                <strong>Contato</strong>
                <ul>
                    <li><a href="https://github.com/thurler142">Github</a></li>
                    <li><a href="https://instagram.com/thurlerx">Instagram</a></li>
                    <li><a href="https://www.linkedin.com/in/gtds/">Linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
