<div class="app-card-assinaturas__container">

    <div class="card-assinatura__container">
        <strong>ESSENCIAL</strong>
        <span>R$29,90</span>
        <p>A assinatura continua automaticamente.</p>

        <div class="card-assinatura-items__container">
            <ul>
                <li>Acesso liberado.</li>
                <li>Novos jogos no primeiro dia.</li>
                <li>Ofertas e descontos para membros.</li>
                <li>Ofertas e descontos para membros.</li>
            </ul>
        </div>
        <input type="button" value="ASSINE AGORA">
    </div>
    <div class="card-assinatura__container">
        <strong class="card-assinatura__title">DELUX</strong>
        <span class="card-assinatura__price">R$39,90</span>
        <p>A assinatura continua automaticamente.</p>

        <div class="card-assinatura-items__container">
            <ul>
                <li>Acesso liberado.</li>
                <li>Novos jogos no primeiro dia.</li>
                <li>Ofertas e descontos para membros.</li>
                <li>Ofertas e descontos para membros.</li>
            </ul>
        </div>
        <input type="button" value="ASSINE AGORA">
    </div>
    <div class="card-assinatura__container">
        <strong>SUPER DELUX</strong>
        <span>R$49,90</span>
        <p>A assinatura continua automaticamente.</p>

        <div class="card-assinatura-items__container">
            <ul>
                <li>Acesso liberado.</li>
                <li>Novos jogos no primeiro dia.</li>
                <li>Ofertas e descontos para membros.</li>
                <li>Ofertas e descontos para membros.</li>
            </ul>
        </div>
        <input type="button" value="ASSINE AGORA">
    </div>
</div>
