.menu-bar__container {
    display: flex;
    flex-direction: row;
    z-index: 999;
    background-color: transparent;
    width: 100%;
    height: 40px;   
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}
.container__menu > ul{
    display: flex;
    list-style: none;
}


.container__menu {
    margin: auto;
}

.container__menu > ul > li > a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.container__menu > ul > li > a:hover {
    border-radius: 20px;
    background-color: #1d83fd;
    font-weight: 600;
    
}
.menu-bar__logo > img {  
    width: 170px;
    height: 32px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.container__menu > ul > li {
    margin-right: 15px;
    margin-top: 4px;
}
.rede-social__container {
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin-right: 15px;
}

.rede-social__container >  {
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin-right: 15px;
}
